@import url("https://fonts.googleapis.com/css2?family=Tillana:wght@600;800&family=Work+Sans:wght@300;400;500;600&display=swap");

* {
  font-size: 1em;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
}

.heading {
  font-size: 2.5em;
  margin: 20px 0;
  font-family: "Tillana", cursive;
  color: #d36200;
  text-align: center;
}

.con-tainer {
  /* background-color: #f1f6f7; */
  border-radius: 20px;
  display: flex;
  font-size: 1.4vw;
}
.margin {
  margin: 13px 6em;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 11px;
  }
  .con-tainer {
    flex-direction: column;
  }
}